.categories {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	box-sizing: border-box;
	width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
	white-space: nowrap;
}

.item,
.active {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 32px;
	background-color: #f2f4f5;
	padding: 8px 16px;
}

.active {
	background-color: #e7e7ff;
	color: #6b4eff;
}

::-webkit-scrollbar {
	display: none;
}
