.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 100%;
}

.pageNumber,
.arrow {
	cursor: pointer;
	border: none;
	background-color: white;
}

.pageNumber:disabled,
.arrow:disabled {
	cursor: default;
}

.pageNumber {
	padding: 8px;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
	background-color: #23272f;
	color: #f6f7f9;
}

.pagination.light .pageNumber,
.pagination.light .arrow {
	background-color: white;
	color: black;
}
